[general]
rotation = 0
delay = 10
urls = http://www.google.com,http://www.bing.com,http://www.yahoo.com,http://www.duckduckgo.com
mqtt = false

[mqtt]
host = host
port = 1234
username = user
password = pass
online_topic = /my/thing/online
marquee_topic = /my/thing/marquee
